SECRET_KEY: "Sup3rsecr33tranDomstr1ng"
DEBUG: true
ALLOWED_HOSTS: ["host1.ru", "host2.com", "*.something.info"]

# RCON settings
RCON_HOST: "localhost"
RCON_PASSWORD: "Sup3rsecr33tranDomstr1ng"
RCON_PORT: 25575  # optional

# Change this to your db config or path
DATABASE:
  ENGINE: "django.db.backends.sqlite3"
  NAME: "db.sqlite3"

# urlpatterns
URLPATTERNS:
  "<index>":
    path: "autodonate_placeholder_plugin.urls"
