# This file is used to setup env
# to generate documentation.

sphinx>=4.4.0,<4.6.0
sphinx-autodoc-typehints>=1.17.0,<1.18.0
sphinxcontrib-apidoc>=0.3.0
furo>=2022.3.4
m2r2>=0.3.0,<0.4.0
tomlkit>=0.10.0,<0.11.0
toml>=0.10.2,<0.11.0

# Dependencies of our project:
Django>=4.0.2,<4.1.0
requests>=2.27.1
PyYAML>=6.0,<7.0
mcrcon-ipv6>=0.1.2
autodonate-placeholder-plugin>=0.1.0
